//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #535252;
    text-align: center;
}
header{
    color: white;
    padding: 20px;
    width: 80%;
    margin: auto;
}
footer {
    color: white;
    padding: 20px;
    width: 80%;
    margin: auto;
}
.box{
    color: white;
    width: 80%;
    margin: auto;

    li {
        list-style: none;
    }
}
a{
    color: white;
    text-decoration: none;
}
